.DS_Store
us.johnholbrook.vextm.sdPlugin/plugin_node/node_modules/
dist/
*.streamDeckPlugin
us.johnholbrook.vextm.sdPlugin/plugin_node/main-mac
us.johnholbrook.vextm.sdPlugin/plugin_node/main-win.exe
us.johnholbrook.vextm.sdPlugin/plugin_node/auth.json
